* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body,
html {
  height: 100%;
  background-color: #f1f1f1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  max-height: 600px;
  width: 350px;
  margin: 5% auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background: #fafafa;
}

.chat-message {
  margin-bottom: 8px;
  padding: 5px;
  overflow-wrap: break-word;
}

.user-name {
  margin-right: 5px;
  font-weight: bold;
  color: #4a90e2;
}

.chat-form {
  display: flex;
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

#input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#form button {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form button:hover {
  background-color: #6ca3e2;
}

ul {
  list-style-type: none;
}
